/* base */

.github-readme-card { border: 1px solid var(--background-modifier-border); padding: 16px; }

.github-readme-layout { display: flex; height: 100%; }
.github-readme-sidebar { width: 300px; border-right: 1px solid var(--background-modifier-border); }
.github-readme-main { flex: 1; }

.github-repos-sidebar-header { display: flex; justify-content: space-between; padding: 0 2px; }

.github-repos-item { display: flex; padding: 8px 10px; }
.github-repos-name { font-weight: 600; }
